<div class="guide">
	<%= link_to 'cancel', game_url(@game) %>
	<p>
	<h2>Give card</h2>
	</p>
</div><br />
<div class="object_box ">
	<div class="view">
		Pick a recipient for this card:
		<div class="card">
			<%= render :partial => 'cards/card', :object => @card.card %>
		</div>
		<br /><br /><br /><br /><br /><br /><br /><br />
	</div>
	<div class="guide">
		<h2>Recipient</h2>
		<% form_tag :action => :give_card, :id => @card, :game_id => @game do %>
			<%= select_tag 'recipient_id', options_from_collection_for_select(@players, :id, :login) %>
			<%= submit_tag 'give card'%>
		<% end %>
	</div>
</div>
<div class="object_box ">
