<div class="guide">
	<h2>Add Deck</h2>
	<%= link_to 'cancel', game_url(@game) %>
</div>
<br />
<div class="object_box ">
	<div class="view">
		<% form_for(@game) do |f| %>
		  <%= select_tag :template_id, options_from_collection_for_select(@templates, :id, :name)%><br />
		  <%= f.submit 'Add' %>
		<% end %>
	</div>
	<div class="guide">
		<h2>Deck</h2>
	</div>
</div>
<div class="object_box"></div>