<div class="guide">
	<h2>Add card</h2>
	<%= link_to 'cancel', template_url(@tpl) %>
</div>
<br />
<div class="object_box ">
	<div class="view">
		enter the text of the cards, separated by semi-colons. Like so: <br />
		bang! ; barrel ; revolver
		<% form_for([@tpl, @card]) do |f| %>
			<%= f.error_messages %>
			<%= f.text_area :text %><br />
			<%= f.submit 'Create' %>
		<% end %>
	</div>
	<div class="guide">
		<h2>Text</h2>
	</div>
</div>
<div class="object_box"></div>

