<h1>Listing decks</h1>

<table>
  <tr>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td><%= link_to 'Show', deck %></td>
    <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy', deck, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New deck', new_deck_path %>